:root {
  // grey light
  --color-bg: hsl(212, 45%, 89%);
  // white
  --color-bg-card: hsl(0, 0%, 100%);
  // grey blue
  --color-text: hsl(220, 15%, 55%);
  // dark blue
  --color-text-title: hsl(218, 44%, 22%);
}
